<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('user_dashboard') }}">User Dashboard</a></li>
            <li><a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a></li>
            <li><a href="{{ url_for('protected_resource') }}">Protected Resource</a></li> 
            <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
    </nav>
    <main>
        <h2>Project to demonstrate 5 Authorization Techniques</h2>
        <h3>Made by Durgesh, Hemant, Rohima & Siddhart</h3>
    </main>
    <!-- Message component in the footer -->
    <footer>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </footer>
</body>
</html>
